html,
body {
  font-family: "Microsoft YaHei";
}
body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
dd,
form,
input,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/*消除a标签和按钮点击后半透明*/
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  cursor: pointer !important;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.ant-input,
.ant-select-selection {
  border-radius: 0!important;
}
